<html>
	<header>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/fonts/glyphicons-halflings-regular.ttf">
		<style type="text/css">
			.btn.btn-primary {
				width: 100%;
			}
		</style>
	</header>
	<body>
		<nav class="navbar navbar-default" role="navigation" id="nav">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Vue.js Ajax And Restful Api</a>
			</div>
			<div>
				<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" v-model="text_search">
					
				</div>
					<button type="submit" class="btn btn-default" v-on="click: submit(text_search)">Submit</button>
				</form>
			</div>
		</nav>
				<div class="container" id="app">
			<br>
			<input v-model="user" v-on="blur: addUser()" class="form-control">

			<textarea v-model="text" class="form-control"></textarea>
			<p>{{number_char}}</p>
			<br>
			<a href="#" class="btn btn-danger"> {{user_number}} </a>

			<h1>page: {{ page }}</h1>
			<hr>		
			<div>
				    <div v-repeat="u in user_list">
				    	<div class="panel panel-default">
							<div class="panel-heading">
							إسم المستعمل
							</div>
							<div class="panel-body">
								{{ u }} <br> <hr> <button v-on="click: userDelete(u)" class="btn btn-primary"> Delete Button (حدف المستعمل)</button>
							</div>
						</div>
				    </div>
				    <ul class="pagination">
						<li><button v-on="click: previous" class="btn btn-info">&laquo; Previous </a></li>
						<li><button v-on="click: next" class="btn btn-info">Next &raquo;</a></li>	
					</ul>
			</div>

			
		</div>
		
		<div class="container">
			<div id="app_fib">
				<h1> {{ sum_number}} </h1>
			</div>
		</div>
		
	</body>
	<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript">
		var i = 0;
		var vm = new Vue({
		  el: '#app',
		  data: {
		    user: '',
		    user_list:[],
		    user_number:0,
		    page:0,
		    number_char:160,
		    text:''
		  },
		  watch:{
		  	'text':function(val, oldval){
		  		var self = this;
		  		if(160-val.length>0){
		  			self.number_char = 160-val.length;
		  		}else if(160-val.length==0){
		  			// diable textarea

		  		}
		  	}
		  },
		  methods:{
		  	loopInterval:function(){
		  		var self = this;
		  		setInterval(function(){
		  			self.user = 'Hello_'+i;
		  			++i;
		  		}, 1);
		  	},
		  	addUser:function(){
		  		var self = this;
		  		if(self.user!=undefined || self.user===''){
		  			var found = false;
		  			for(var i=0;i<self.user_list.length;i++){
		  				if(self.user==self.user_list[i]){
		  					found = true;
		  				}
		  			}

		  			if(!found){
		  				// ajax post /
		  				$.ajax({
		  					url:'/',
		  					type:'POST',
		  					data:{user:self.user},
		  					success:function(Item, Status){
		  						if(Item.status=="OK"){
		  							self.user_list.push(self.user);
		  							self.user_number  = self.user_list.length
		  						}
		  					}
		  				})
		  			}
		  		}
		  	},
		  	listUser:function(){
		  		var self = this;
		  		$.ajax({
		  			url:'/list',
		  			type:'GET',
		  			success:function(Item, Status){
		  				if(Item.status=="OK"){
		  					self.user_list = self.user_list.concat(Item.msg);
		  					self.user_number  = self.user_list.length;
		  				}
		  			}
		  		});
		  	},
		  	userDelete:function(user){
		  		var self = this;
		  		$.ajax({
		  			url:'/del/'+user,
		  			type:'GET',
		  			success:function(Item, Status){
		  				if(Item.status=="OK"){
		  					for(var i=0;i<self.user_list.length;i++){
		  						if(self.user_list[i]==user){
		  							self.user_list.splice(i, 1);
		  							self.user_number  = self.user_list.length;
		  						}
		  					}
		  				}
		  			}
		  		});
		  	},
		  	next:function(){
		  		var self = this;
		  		++self.page;
		  	},
		  	previous:function(){
		  		var self = this;
		  		(self.page<=0)?0:--self.page;
		  	}
		  }
		});
		vm.listUser();

		var vm1 = new Vue({
			el: '#nav',
			methods:{
				submit:function(text){
					var found = false;
					for(var i=0;i<vm.user_list.length;i++){
						if(vm.user_list[i]==text){
							found = true;
							alert(found);
						}
					}
					if(!found){
						alert('not found');
					}
				}
			}
		});

		var f = 2;
		var vm2 = new Vue({
			el:"#app_fib",
			data:{
				name:'Mohamed Ifadir',
				sum_number:0
			},
			methods:{
				computeSum:function(n){
					var self = this;
					var sum = 0
					return (n%11==0)?n:'';
				},
				startFib:function(){
					var self = this;
					setInterval(function(){
						self.sum_number = self.computeSum(f);
						console.log(self.sum_number);
						++f;
					}, 1);
				}
			}
		});

		vm2.startFib();
	</script>
</html>